ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 15px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(11, 11, 11);
  text-transform: uppercase;
}

.menu_list {
  display: flex;
}

.nav-item {
  padding: 15px;
}

.nav-item a {
  text-decoration: none;
  color: #539ed0;
  position: relative;
}
.nav-item .sign-in {
  color: white !important;
}

.nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgb(11, 11, 11);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-item a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-item.sign-in a {
  background-color: #539ed0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 700;
  padding: 10px 25px;
}

.nav-item.sign-in a:hover {
  transform: scale(1.05);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.mobile-navbar {
  display: none;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it's on top of other content */
}

.mobile-navbar-logo {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(11, 11, 11);
  text-transform: uppercase;
}

.mobile-navbar-menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1001; /* Ensure it's on top of the menu */
}

.mobile-navbar-menu-container {
  position: relative;
}

.mobile-navbar-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  margin: auto;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  color: #539ed0;
  transition: ease all 0.4s;
  z-index: 1000; /* Ensure it's on top of other content */
}

.mobile-navbar-menu-open {
  top: 10px;
}

.mobile-navbar-menu-closed {
  top: -600px;
}

.nav-item a {
  text-decoration: none;
}

@media only screen and (max-width: 847px) {
  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
}

@media only screen and (max-width: 550px) {
  .mobile-navbar img:first-of-type {
    display: none;
  }
}
